@charset "UTF-8";

@font-face {
  font-family: plus;
  src: url('fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf')format('truetype'), url('fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

:root {
  --cor001: #f25c05;
  --cor002: #f28705;
  --cor003: #f29f05;
  --cor004: #bf815e;
  --cor005: #591902;

}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'plus';
  color: black;
}

header {
  background-color: var(--cor001);
  text-align: center;
  min-height: 120px;
  padding-top: 40px;
  color: white;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.247);
}

header img {
  width: 150px;
}

header h1 {
  padding: 15px;
}

nav {
  background-color: var(--cor001);
  text-align: center;
  padding: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 7px 15px;
  margin-left: 5px;
  transition: 0.3s;
}

nav a:hover {
  background-color: #591902a6;
  border-radius: 10px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.247);
}

main {
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  padding: 30px;
}

section {
  padding: 10px 0px 50px 0px;
}

section h1{
  text-align: center;
  padding-bottom: 30px;
}

section h2 {
  text-align: center;
  background-color: var(--cor002);
  font-size: 1.5em;
  width: 500px;
  padding: 3px;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 20px;
  transition: 0.3s;
}

section h2:hover {
  background-color: var(--cor003);
  color: white;
}


article h1 {
  font-size: 2em;
}

footer {
  background-color: var(--cor001);
  text-align: center;
  padding: 15px;
}

footer p {
  padding: 5px;
  color: white;
}

footer a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

