@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #0d0d2b;
  color: #ffffff;
  padding: 30px;
  text-align: center;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 10px;
}

header h1 {
  margin-bottom: 10px;
}

nav {
  margin-top: 30px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
}

nav a {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  text-decoration: none;
  color: white;
  transition: 0.5s;
  border-radius: 8px;
}

nav a:hover {
  background-color: #00ccff;
  box-shadow: 0px 0px 10px #00ccff6b;
  color: #0d0d2b;
  transform: scale(1.05);
  transform: translate(0, -2px);
}

main {
  background-color: #1a1a40;
  color: white;
  flex: 1;
}

main div {
  display: inline-block;
  width: 50vw;
}

main h2, p {
  max-width: 500px;
}

main h2 {
  color: #8faadf;
  text-align: center;
  background: linear-gradient(to right, #1a1a40, #2f3b66, #1a1a40);
  border-radius: 5px;
  margin-bottom: 15px;
}

main p {
  text-align: center;
}

main img {
  display: inline-block;
  width: 300px;
  height: 300px;
  border-radius: 30px;
}

.imgd {
  display: flex;
  flex-flow: row wrap;
  background-color: #12122c;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.411);

}

.imge {
  display: flex;
  flex-flow: row wrap-reverse;
  background-color: #0c0c1f;
}

.imgd, .imge {
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  
}


footer {
  background-color: #0d0d2b;
  color: #cccccc;
  padding: 40px;
  gap: 20px;

  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

footer p {
  margin-bottom: 50px;
  flex: 0 1 auto;
  text-align: center;
}

footer ul {
  margin-top: -40px;
  display: flex;
  list-style: none;
  gap: 20px;
}

footer li {
  display: inline-block;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: underline;
}
